@page "{restaurantId:int}"

@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    <p>ID: @Model.Restaurant.Id</p>
    <p>Location: @Model.Restaurant.Location</p>
    <p>Cuisine: @Model.Restaurant.Cuisine</p>
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-primary">All Restaurants</a>